<body class="dx-viewport">
    <app-nav></app-nav>
        <div class="content">
            <h2>Welcome to our Transaction Platform</h2>
            <p style="color:brown">Explore and manage your transactions with ease.</p>
            <p style="color:brown">Our platform provides a secure and user-friendly environment for all your financial activities.</p>
        </div>

        <div class="container">
            <div class="btn">
                <button routerLink="/transaction-table">Show transactions</button>
            </div>

        <div class="additional-content">
            <img src="https://img.freepik.com/free-vector/people-using-mobile-bank-remittance-money_74855-6617.jpg" alt="Transaction Image">
            <p>Effortlessly track your income and expenses</p>
        </div>
    </div>
</body>
